
@font-face {
    font-family:'Oranienbaum' ;
    src: url( '../fonts/Oranienbaum/Oranienbaum-Regular.ttf');
}
@font-face{
    font-family: 'Aquarelle';
    src: url('../fonts/Aquarelle.ttf');
}
@font-face{
    font-family: 'Prata';
    src: url('../fonts/Prata/Prata-Regular.ttf');
}